@model sistem_za_evidenciju_vozila_i_putnih_naloga.ViewModels.TWCreateVM

@{
    var message = (string)TempData["message"];
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TravelWarrant</h4>
<hr />

@if (message != null)
{
    <div id="messageCreateAlertId" class="alert alert-danger collapse">
        <a id="closeCreateLinkId" href="#" class="close">&times;</a>
        <strong></strong> @message
    </div>

}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.CarId" class="control-label"></label>
                <select asp-for="@Model.CarId" class="form-control" asp-items="@Model.carList"></select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DriverId" class="control-label"></label>
                <select asp-for="@Model.DriverId" class="form-control" asp-items="@Model.driverList"></select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.StartTime" class="control-label"></label>
                <input asp-for="@Model.StartTime" class="form-control" />
                <span asp-validation-for="@Model.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EndTime" class="control-label"></label>
                <input asp-for="@Model.EndTime" class="form-control" />
                <span asp-validation-for="@Model.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.StartLocation" class="control-label"></label>
                <input asp-for="@Model.StartLocation" class="form-control" />
                <span asp-validation-for="@Model.StartLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EndLocation" class="control-label"></label>
                <input asp-for="@Model.EndLocation" class="form-control" />
                <span asp-validation-for="@Model.EndLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPassengers" class="control-label"></label>
                <input asp-for="NumberOfPassengers" class="form-control" />
                <span asp-validation-for="NumberOfPassengers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#messageCreateAlertId").show('fade');
            setTimeout(function () {
                $("#messageCreateAlertId").hide('fade')
            }, 5000);
            $("#closeCreateLinkId").click(function () {
                $("#messageCreateAlertId").hide('fade');
            })
        });


    </script>
}