@model sistem_za_evidenciju_vozila_i_putnih_naloga.Data.Models.Car

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModel.CarModelId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChassisNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChassisNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnginPowerKS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnginPowerKS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnginPowerKW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnginPowerKW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CarId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
