@model sistem_za_evidenciju_vozila_i_putnih_naloga.ViewModels.CarsDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.CarModel</h4>
    <hr />
    <dl class="row">
        @*<dd class="col-sm-2">
            @Html.DisplayFor(model => model.CarId)
        </dd>*@
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChassisNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChassisNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EngineNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngineNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnginPowerKS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnginPowerKS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnginPowerKW)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnginPowerKW)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fuel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
