@model IEnumerable<sistem_za_evidenciju_vozila_i_putnih_naloga.ViewModels.CarsIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Cars">Create New</a>
</p>
<table id="car-table-id" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChassisNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnginPowerKS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnginPowerKW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChassisNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnginPowerKS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnginPowerKW)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fuel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionYear)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>

            //$(document).ready(function () {
            //    $('#car-table-id').DataTable({
            //        dom: 'Bfrtip',
            //        buttons: [],
            //        "searching": false,
            //        "paging": false,
                    
            //    });
                //$.extend($.fn.dataTable.defaults, {
                //    searching: false,
                //    ordering: false
                //});
            //})
    </script>
}
