@using X.PagedList.Mvc.Core
@using X.PagedList;
@using X.PagedList.Mvc.Common


@model IPagedList<sistem_za_evidenciju_vozila_i_putnih_naloga.ViewModels.CarsIndexVM>

@{
    ViewData["Title"] = "Index";
    
}

<p>
    <a asp-action="Create" asp-controller="Cars">Create New</a>
</p>
<table id="car-table-id" class="table table-bordered">
    
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-page="@ViewData["PageParam"]" asp-route-sortOrder="@ViewData["IdSortParm"]">@Html.DisplayNameFor(model => model.First().CarId)</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.First().CarModel)*@
                <a asp-action="Index" asp-route-page="@ViewData["PageParam"]" asp-route-sortOrder="@ViewData["CarModelSortParm"]">@Html.DisplayNameFor(model => model.First().CarModel)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ChassisNumber)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.First().EngineNumber)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.First().EnginPowerKS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EnginPowerKW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Fuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductionYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.CarId)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChassisNumber)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.EngineNumber)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.EnginPowerKS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnginPowerKW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionYear)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>


@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
   new PagedListRenderOptionsBase
   {
       LiElementClasses = new string[] { "page-item" },
       PageClasses = new string[] { "page-link" }
   })




@*@section Scripts{
    <script>

        $(document).ready(function () {
            $('#car-table-id').DataTable({
                dom: 'Bfrtip',
                buttons: [],
                "searching": false,
                "paging": false,

            });
            $.extend($.fn.dataTable.defaults, {
                searching: false,
                ordering: false
            });
        })
    </script>
}*@
